body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 1rem;
  background-color: pink;
  color: #ffffff;
  background: url('../images/621.gif') no-repeat fixed center /120px;
}

canvas {
  width: 1280px;
  height: 720px;
}

div {
  display: inline-block;
  width: 720px;
  vertical-align: top;
}
